<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>UCSD SUMS - $title$</title>
		<script src="/static/bundle.js"></script>
		$if(extraCss)$
			$for(extraCss)$
				<link rel="stylesheet" href="$url$" />
			$endfor$
		$endif$
		<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109201780-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-109201780-1');
		</script>
	</head>

	<body>
		<h1>$title$</h1>
		<div id="header">
			<div id="navigation">
				<a href="/index.html">Home</a>
				<a href="/business.html">Business</a>
				<a href="/officers.html">Officers</a>
				<a href="/events.html">Events</a>
				<a href="/talks.html">Talks</a>
				<a href="/resources.html">Resources</a>
				<a href="/archive.html">Archive</a>
			</div>
		</div>

		<div class="event-listing" id="content">
			$body$
		</div>

	</body>

</html>
